@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.lato-font {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* sahred style */
.btn-primary{
    background-color:rgba(229, 84, 115, 1) ;
    padding: 20px 43px;
    font-size: 1.25rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
header{
    background-color: rgba(229, 84, 115, 0.1);
}
.banner{
max-width: 1440px;
margin: 0 auto;
display: flex;

justify-content: center;
align-items: center;
gap: 100PX;
}
 .banner-content{
    max-width: 708px;
 }

.banner h1{
    color: rgba(39, 39, 39, 1);
    font-weight: 800;
    font-size: 5rem;
}
.banner p{
  color: rgba(39, 39, 39, 0.6);
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 32px;
}

/* responsive */
@media  screen and (max-width:576px) {
    .banner{
        flex-direction: column;
        padding: 0;
    }
     .banner-img{
    max-width: 100%;
 }
}