@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.lato-font {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* sahred style */
.btn-primary{
    background-color:rgba(229, 84, 115, 1) ;
    padding: 20px 43px;
    font-size: 1.25rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
/*header*/
header{
    background-color: rgba(229, 84, 115, 0.1);
}
.banner{
max-width: 1440px;
margin: 0 auto;
display: flex;

justify-content: center;
align-items: center;
gap: 100px;
padding: 50px 240px 0;
}
 .banner-content{
    max-width: 708px;
 }
 .banner-img{
    max-width: 100%;
 }
.banner-img img{
    max-width: 100%;
}
.banner h1{
    color: rgba(39, 39, 39, 1);
    font-weight: 800;
    font-size: 5rem;
}
.banner p{
  color: rgba(39, 39, 39, 0.6);
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 32px;
}
/* main*/
main{
    max-width: 1440px;
    margin: 0 auto;
}
.featured-content{
    margin: 0 auto;
    text-align: center;
    margin-top: 178px;
    margin-bottom: 48px;
    max-width: 594px;

}
.featured-content h2{
    font-weight: 800;
    font-size: 2.5rem;
    color:rgba(39, 39, 39, 1);
}

.featured-content p{
    font-size: 1.125rem;
    font-weight: 400;
    color:rgba(39, 39, 39, 0.6);
}
.featured .img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    text-align: center;
}
.featured .img-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 464px;
    height: 538px;
    border-radius: 250px 250px 0px 0px;
    background-color: rebeccapurple;
}
#first-img{
    background-color: rgba(167, 33, 98, 0.15);
}

#middle-img{
    justify-content: center;
    background-color: rgba(5, 151, 160, 0.15);
}
#last-img{
    background-color: rgba(71, 125, 17, 0.15);
}
.featured img{
    max-width: 70%;
}
/* responsive */
@media  screen and (max-width:576px) {
    .banner{
        flex-direction: column;
        padding: 0;
    }
    
     
    .featured .img-container{
        flex-direction: column;
        justify-content: center;
    }
    .featured .img-container{
        text-align: center;
    }
}